#### Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
    Salary(Lakhs) : Tax(%)
    Below 5 : 0%
    5-10 : 10%
    10-20 : 20%
    aboove 20 : 30%

In [36]:
ctc = float(input("Enter Your CTC"))

hra = ctc * 0.1
da = ctc * 0.05
pf = ctc * 0.03
gross_sal = ctc - hra - da - pf

tax_rate = 0
if (gross_sal < 500000):
    tax_rate = 0
elif ((gross_sal > 500000) and (gross_sal < 1000000)):
    tax_rate = 0.1
elif ((gross_sal > 1000000) and (gross_sal < 2000000)):
    tax_rate = 0.2
elif (gross_sal > 2000000):
    tax_rate = 0.3

tax = gross_sal * tax_rate
in_hand_sal = gross_sal - tax
print("CTC =",ctc,"HRA =",hra,"DA =",da,"PF =",pf,"Gross Salary =",gross_sal,"Tax =",tax,"In Hand Salary =",in_hand_sal)

Enter Your CTC 1200000

CTC = 1200000.0 HRA = 120000.0 DA = 60000.0 PF = 36000.0 Gross Salary = 984000.0 Tax = 98400.0 In Hand Salary = 885600.0

#### Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [5]:
angle_1 = float(input("Enter First Angle"))
angle_2 = float(input("Enter Second Angle"))
angle_3 = float(input("Enter Third Angle"))

if (angle_1 + angle_2 + angle_3 == 180):
    print("Can form a triangle")
else:
    print("Can not form a triangle")

Enter First Angle 90
Enter Second Angle 89
Enter Third Angle 1

Can form a triangle

#### Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [8]:
cost = float(input("Enter cost price"))
selling = float(input("Enter Selling price"))
diff = selling - cost

if (diff > 0):
    print("Profit of",diff)
else:
    print("Loss of",diff)

Enter cost price 100
Enter Selling price 101

Profit of 1.0

#### Problem 4: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [37]:
option = int(input("""Hello!, Choose among following options :
      1. CM to Ft
      2. KM to Miles
      3. USD to INR
      4. Exit
      """))
if (option == 1):
    cm = float(input("Enter distance in CM"))
    print(cm,"CM =",cm * 0.032808399,"Ft")

if (option == 2):
    km = float(input("Enter distance in KM"))
    print(km,"KM =",km * 0.621371192,"Miles")

if (option == 3):
    usd = float(input("Enter amount in USD"))
    print(usd,"USD =",usd * 83.36,"INR")
    
if (option == 4):
    print("Exiting!......")

else:
    print("Invalid Entry")

Hello!, Choose among following options :
      1. CM to Ft
      2. KM to Miles
      3. USD to INR
      4. Exit
       5

Invalid Entry

#### Problem 5 : Display Fibonacci series up to 10 terms.
Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [25]:
t1 = 0
t2 = 1
fib = 0
for i in range (0,10):
    print(t1)
    fib = t1 + t2
    t1 = t2
    t2 = fib

0
1
1
2
3
5
8
13
21
34

#### Problem 6 - Find the factorial of a given number.
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

In [34]:
num = int(input("Enter Number"))
fact = 1

for i in range (1,num + 1):
    fact = fact * i

print(fact)

Enter Number 6

720

#### Problem 7 : Reverse a given integer number.
    Example:
        Input:76542
        Output:24567

In [8]:
num = int(input("Enter Number"))
rev = 0

while (num > 0):
    temp = num % 10
    rev = rev * 10 + temp
    num = num // 10
    
print(rev)

Enter Number 2345

5432

#### Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.
    Example 1:
        Input:30
        Output:276

In [24]:
N = int(input("Enter a Number"))
i = 1
sum1 = 0

while (i <= N):
    if (i % 5 == 0):
        i = i + 1
        continue
    elif (sum1 <= 300):
        sum1 = sum1 + i
        i += 1
        print(sum1)
    else:
        break

Enter a Number 10

1
3
6
10
16
23
31
40

#### Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [40]:
ip = 1
count = 0
sum = 0
while(True):
    ip = int(input("Enter Number"))
    if (ip != 0):
        count += 1
        sum = sum + ip 
    else:
        break

print("Sum =",sum,"Average =",sum/count)

Enter Number 1
Enter Number 2
Enter Number 3
Enter Number 4
Enter Number 5
Enter Number 0

Sum = 15 Average = 3.0

#### Problem 10: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [45]:
for i in range(2000,3201):
    if ((i % 7 == 0) and (i % 5 != 0)):
        print(i,end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

#### Problem 11 : Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [84]:
for i in range (1000,3001):
    if(((i//1000)%2==0) and ((i//100%10)%2==0) and ((i%100//10)%2==0) and ((i%10)%2==0)):
        print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

#### Problem 12: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
    The trace of robot movement is shown as the following:
    UP 5
    DOWN 3
    LEFT 3
    RIGHT 2
    !
    
    The numbers after the direction are steps.
    ! means robot stop there.

    Please write a program to compute the distance from current position after a sequence of movement and original point.If the distance is a float, then just print the nearest integer.

    Example:
        Input:UP 5
        DOWN 3
        LEFT 3
        RIGHT 2
        !
    
        Output:2

In [91]:
up = int(input("UP :"))
down = int(input("DOWN :"))
left = int(input("LEFT :"))
right = int(input("RIGHT :"))

x=up-down
y=right-left
print("X =",x,"Y =",y)

UP : 5
DOWN : 3
LEFT : 3
RIGHT : 2

X = 2 Y = -1

#### Problem 13:Write a program to print whether a given number is a prime number or not

In [117]:
prime=True
num = int(input("Enter Nunber"))

for i in range(2,num):
    if (num%i==0):
        print("Not prime")        
        prime=False
        break
        
if (prime):
    print("Prime")

Enter Nunber 7

Prime

#### Problem 14:Print all the Armstrong numbers in a given range.
    Range will be provided by the user
    Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [150]:
start=int(input("Enter Starting Range"))
stop=int(input("Enter Stopping Range"))

for i in range(start,stop+1):
    d1=(i//1000)**3
    d2=(i//100%10)**3
    d3=(i%100//10)**3
    d4=(i%10)**3

    if (d1+d2+d3+d4==i):
        print(i)

Enter Starting Range 0
Enter Stopping Range 1000

0
1
153
370
371
407

### Q15) Calculate the angle between the hour hand and minute hand.
Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

    Input:H = 9 , M = 0<br>
    Output:90
    Explanation:The minimum angle between hour and minute hand when the time is 9 is 90 degress.degress.

In [210]:
hr=int(input("Hour :"))
mn=int(input("Minutes :"))

if (hr<=12 and mn<=60):
    hr_pos=30*hr
    mn_pos=6*mn
    clockwise=hr_pos-mn_pos
    anticlockwise=360-clockwise
    if (clockwise<180):
        print(clockwise)
    else:
        print(anticlockwise,"Degrees")
else:
    print("Invalid Input")

Hour : 6
Minutes : 36

-36